

<form method="POST" action="<%- actionUrl %>">

  <input type="text" name="project_name" value="">

  <input type="text" name="project_description" value="">
  <input type="submit" value="上記内容でプロジェクトを登録する">

</form>