



<% for (let user of users) { %>
  <p>
    <a href="/user/<%- user.id %>">
      <%- user.getUserLink().userLink %>
    </a>
  </p>

  <!-- タスク一覧がある場合 -->
  <% if (user.tasks) { %>
    <ul>
    <% for(let task of user.tasks) { %>
      <li><%- task.task_name %></li>
    <% } %>
    </ul>
  <% } %>
<% } %>