



<% for (let user of users) { %>

<p><a href="/users/<%- user.id %>">(<%- user.id %>)<%- user.user_name %></a></p>
  <% if (user.tasks) { %>
    <% for(let task of user.tasks) { %>
      <p><%- task.task_name %></p>
    <% } %>
  <% } %>
<% } %>