  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 ">
          <!-- Logo -->
          <div class="logo">
            <div class="copy text-center">タスク管理ツール</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>